

<!-- New List Button -->
<div class="db mv4 br2 ma2">
    <button  mat-raised-button id="generate_chords_button" color="primary" (click)="start_new_list()">Start New List</button>
</div>
<!--
    --------------------------- OUTPUT ------------------------------------
-->
<!--  -->
<div class="ba bw1 br3 ph2 min-h-2">
    <div class="mt2"></div>
    <!-- Key Information -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="chord-panel-title-container mt1">
                <button mat-stroked-button class="chord-panel-title-key mr2" (click)="default_scale_click($event)">{{panelTitle}}</button>
                <div class="chord-panel-title-buttons">
                    <button class="ml4 ba br2" mat-icon-button class="material-symbols-outlined" 
                            matTooltip="Download midi file for the chords" [disabled]="midi_disabled"
                            (click)="wait_for_midi('click', $event)" 
                            longPress (LPRelease)="wait_for_midi('lp', $event)" >
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span class="mh2" *ngFor="let n of scale_notes">{{n.noteDisplay()}}</span>
    </mat-expansion-panel>

    <!-- Chord Information -->

    <!-- Action Header -->
    <div class="chord-action-header-container ml1 pv2">
        <div class="chord-header-lock">
            <button mat-icon-button class="material-symbols-outlined" (click)="unlock_all_chords()"
                [disabled]="!chords_exist || !any_chords_locked()" matTooltip="Unlock all chords">
                <mat-icon>lock_reset</mat-icon>
            </button>
        </div>
        <div class="chord-header-play">
            <button mat-icon-button class="material-symbols-outlined" (click)="play_all_chords()"
                    [disabled]="!chords_exist" matTooltip="play all chords">
                <mat-icon>{{all_play_active ? 'stop' : 'fast_forward'}}</mat-icon>
            </button>
        </div>
        <div class="chord-add-action"> <!-- These actually float -->
            <button mat-icon-button class="material-symbols-outlined" (click)="add_chord('before', 0)"
                    [disabled]="!default_scale_exists()"  matTooltip="Add one new chord to the top of the chord list">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button class="material-symbols-outlined" (click)="append_to_list()"
                     matTooltip="Add new chords to the end of the list">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
        <div class="header-right-action">
            <button class="dif material-symbols-outlined"
                        matTooltip="replace all unlocked chords" (click)="generate()" [disabled]="all_chords_locked()" mat-icon-button>
                <mat-icon>casino</mat-icon>
            </button>
            <button class="dif material-symbols-outlined"
                        matTooltip="Delete all unlocked chords" (click)="delete_unlocked_chords()" [disabled]="all_chords_locked()" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>

    <div cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="chord_drop($event)">

        <!--
            This is complicated by the need to be re-arrange stuff to fit on a mobile device. I'm not
            sure why I care.


            |                 chord-row-container                                                      |
            | chord-right-actions     |        chord-main                      | chord-left-action     |
            | chord-lock : chord-play | chord-name | chord-tones | chord-scale | edit : random : trash | 

            On a small screen, chord-main collapsed to a single column grid.
            The action areas are flex and will wrap.

        -->

        <div class="chord-row-container chord-index-{{i}} ml1 pv2" cdkDrag *ngFor="let c of chords; let i=index">
            <div class="chord-lock">
                <button mat-icon-button class="chord-lock" [color]="chord_locked(i) ? 'accent' : ''" 
                        class="material-symbols-outlined" matTooltip="Lock chord" (click)="lock_chord(i)">
                    <mat-icon>{{chord_locked(i) ? 'lock' : 'lock_open'}}</mat-icon>
                </button>
            </div>
            <div class="chord-play">
                <button class="dif material-symbols-outlined"
                            matTooltip="Play the chord through your speakers or headphones" (click)="play_chord(c)" mat-mini-fab>
                    <mat-icon>
                        play_arrow
                    </mat-icon>
                </button>
            </div>

            <div class="chord-main chord-main-container">
                <div class="chord-main-hover">
                    <button class="hover-item accent-colors hover-top" (click)="add_chord('before', i)">+</button>
                    <button class="hover-item accent-colors hover-bottom" (click)="add_chord('after', i)">+</button>
                </div>
                <div class="chord-name">
                    <span class="dif">{{c.computeNameDisplay()}}</span>
                </div>
                <div class="chord-tones">
                    <span *ngFor="let t of c.invertedChordTones()" >{{t.noteDisplay()}}</span>
                </div>
                <div class="chord-scale" *ngIf="!chordIsCustom(i)">
                   <a [matMenuTriggerFor]="menu" class="menu-anchor">{{c.scale.fullDisplay()}}
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="set_default_scale(i)">Set default to this</button>
                            <button mat-menu-item (click)="set_to_default_scale(i)">Set this to default</button>
                        </mat-menu>
                    </a>

                </div>
            </div>
            

            <div class="chord-right-action">
                <button class="dif material-symbols-outlined"
                            matTooltip="Edit parts of the chord" (click)="edit_chord_modal(i)" [disabled]="chord_locked(i)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="dif material-symbols-outlined"
                            matTooltip="generate a new chord" (click)="generate_new_chord(i)" [disabled]="chord_locked(i)" mat-icon-button>
                    <mat-icon>casino</mat-icon>
                </button>
                <button class="dif material-symbols-outlined"
                            matTooltip="Delete chord" (click)="delete_chord(i)" [disabled]="chord_locked(i)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>

<br>
<!--- CONTROLS -->
<mat-expansion-panel [expanded]="generatorOptionsExpanded" (closed)="generatorOptionsPanelChange(false)" (opened)="generatorOptionsPanelChange(true)">
    <mat-expansion-panel-header>
        <mat-panel-title>Generator Options</mat-panel-title>
    </mat-expansion-panel-header>

    <app-generator-options [options]="gen_opts()" (optionsChange)="generate_options_change($event)"></app-generator-options>
</mat-expansion-panel>
