
<!--- CONTROLS -->
<mat-expansion-panel [expanded]="generatorOptionsExpanded" (closed)="generatorOptionsPanelChange(false)" (opened)="generatorOptionsPanelChange(true)">
    <mat-expansion-panel-header>
        <mat-panel-title>Generator Options</mat-panel-title>
    </mat-expansion-panel-header>


    <app-generator-options [(options)]="generateOptions" (scaleInfoChange)="scale_info_change($event)"></app-generator-options>
</mat-expansion-panel>

<!-- Generate Button -->
<div class="db mv4 br2 ma2">
    <button  mat-raised-button id="generate_chords_button" color="primary" (click)="generate()">Generate Chords</button>
</div>
<!--
    --------------------------- OUTPUT ------------------------------------
-->
<!--  -->
<div class="ba bw1 br3 ph2 min-h-2">
    <div class="mt2"></div>
    <!-- Key Information -->
    <mat-expansion-panel [disabled]="generateOptions.scale_mode === 'Chromatic' || !show_chords">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="chord-panel-title-container mt1">
                <label class="mhh-mat-label chord-panel-title-key mr2">{{panelTitle}}</label>
                <div class="chord-panel-title-buttons">
                    <button mat-icon-button class="material-symbols-outlined"
                                matTooltip="Show/Hide the actual chord tones"  
                                (click)="chord_tone_change($event)">
                        <mat-icon>{{ show_chord_tones ? 'visibility_off' : 'visibility' }} </mat-icon>
                    </button>
                    <button class="ml4 ba br2" mat-icon-button class="material-symbols-outlined" 
                            matTooltip="Download midi file for the chords" [disabled]="midi_disabled"
                            (click)="wait_for_midi('click', $event)" 
                            longPress (LPRelease)="wait_for_midi('lp', $event)" >
                        <mat-icon>download</mat-icon>
                    </button>
                </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <span *ngIf="show_chords">
        <span class="mh2" *ngFor="let n of scale_notes">{{n.noteDisplay()}}</span>
        </span>
    </mat-expansion-panel>

    <!-- Chord Information -->

    <!-- Action Header -->
    <div class="chord-container ml1 pb3">
        <div class="chord-lock">
            <button mat-icon-button class="material-symbols-outlined" (click)="unlock_all_chords()"
                    *ngIf="show_chords" matTooltip="Unlock all chords">
                <mat-icon>lock_reset</mat-icon>
            </button>
        </div>
        <div class="chord-play">
            <button mat-icon-button class="material-symbols-outlined" (click)="play_all_chords()"
                    *ngIf="show_chords" matTooltip="play all chords">
                <mat-icon>{{all_play_active ? 'stop' : 'fast_forward'}}</mat-icon>
            </button>
        </div>
    </div>

    <div cdkDropList cdkDropListLockAxis="y" (cdkDropListDropped)="chord_drop($event)">

        <div class="chord-container chord-index-{{i}} ml1 pb3" cdkDrag *ngFor="let c of chords; let i=index">
            <div class="chord-lock">
                <button mat-icon-button class="chord-lock" [color]="chord_locked(i) ? 'accent' : ''" 
                        class="material-symbols-outlined" matTooltip="Lock chord" (click)="lock_chord(i)">
                    <mat-icon>{{chord_locked(i) ? 'lock' : 'lock_open'}}</mat-icon>
                </button>
            </div>
            <div class="chord-play">
                <button class="dif material-symbols-outlined"
                            matTooltip="Play the chord through your speakers or headphones" (click)="play_chord(c)" mat-mini-fab>
                    <mat-icon>
                        play_arrow
                    </mat-icon>
                </button>
            </div>
            <div class="chord-name">
                <span class="dif">{{c.computeNameDisplay()}}</span>
            </div>
            <div class="chord-tones" *ngIf="show_chord_tones">
                <span class="dib mh2" *ngFor="let t of c.invertedChordTones()" >{{t.noteDisplay()}}</span>
            </div>
            
            <div class="chord-edit">
                <button class="dif material-symbols-outlined"
                            matTooltip="Edit parts of the chord" (click)="edit_chord_modal(i)" mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>