<h1 mat-dialog-title>Global Preferences</h1>
<div mat-dialog-content>
    <h3 mat-dialog-title>MIDI Download Configuration</h3>
    <app-midi-config-form [midiConfig]="midi_config" (midiConfigChange)="midi_config_change($event)"></app-midi-config-form>
    <h3 mat-dialog-title>Clear Setting</h3>
    <button mat-raised-button (click)="clear_settings()">Clear All Settings</button>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><span class="material-symbols-outlined">cancel</span></button>
    <button mat-button mat-dialog-close (click)="do_it()"><span class="material-symbols-outlined" >check</span></button>
</div>