<div class="ma2">
    <div class="general-params-container">
        <!-- Mode Selection -->
        <div class="general-params-item">
            <mat-form-field>
                <mat-label>Mode</mat-label>
                <mat-select [(ngModel)]="mode" [disabled]="any_chords_locked()" 
                        [matTooltip]="any_chords_locked() ? 'Disabled due chords being locked' : 'Set the key mode'"
                         >
                    <mat-option value="Diatonic">Diatonic</mat-option>
                    <mat-option value="Chromatic">Chromatic</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- General Parameters -->

        <!-- Duplicates -->
        <div class="general-params-item">
            <mat-form-field>
                <mat-label>Duplicates</mat-label>
                <mat-select [(ngModel)]="options.duplicates" >
                    <mat-option value="none">None</mat-option>
                    <mat-option value="not-adjacent">Not Adjacent</mat-option>
                    <mat-option value="any">Any</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Chord Count -->
        <!-- Two different modes "ranged" and "single" -->
        <div class="general-params-item chord-count-container">

            <ng-template [ngIf]="options.count_range_mode" [ngIfElse]="singleRangeMode">
            <div class="chord-count-input">
                <mat-form-field  class="small-input">
                    <mat-label>Min Count</mat-label>
                    <input name="chord_count" matNativeControl type="number" [disabled]="any_chords_locked()"
                        [max]="chord_count_max" min="1" required [(ngModel)]="options.count.min" #min_count_control="ngModel">
                    <mat-error *ngIf="min_count_control.invalid">count &lt;{{chord_count_max}} and &gt;1</mat-error>
                </mat-form-field>
                <mat-form-field class="small-input">
                    <mat-label>Max Count</mat-label>
                    <input name="chord_count" matNativeControl type="number" [disabled]="any_chords_locked()"
                        [max]="chord_count_max" min="1" required [(ngModel)]="options.count.max" #max_count_control="ngModel">
                    <mat-error *ngIf="max_count_control.invalid">count &lt;{{chord_count_max}} and &gt;1</mat-error>
                </mat-form-field>
            </div>
            <div class="chord-count-slider">
                <mat-slider class="chord-count-slider-width" min="1" [max]="chord_count_max" step="1" [disabled]="any_chords_locked()"
                            matTooltip="Set range of number of chords to generate">
                    <input matSliderStartThumb [(ngModel)]="options.count.min">
                    <input matSliderEndThumb [(ngModel)]="options.count.max">
            </mat-slider> 
            </div>
            </ng-template>
            <ng-template #singleRangeMode>
                <div class="chord-count-input">
                    <mat-form-field>
                        <mat-label>Chord Count</mat-label>
                        <input name="chord_count" matNativeControl type="number" [disabled]="any_chords_locked()"
                            [max]="chord_count_max" min="1" required [(ngModel)]="options.count.min" #single_min_count_control="ngModel">
                        <mat-error *ngIf="single_min_count_control.invalid">count &lt;{{chord_count_max}} and &gt;1</mat-error>
                    </mat-form-field>
                </div>
            </ng-template> 

            <!-- Switch range mode -->
            <div class="chord-count-icon">
                <button mat-mini-fab class="material-symbols-outlined" [disabled]="any_chords_locked()"
                            matTooltip="Switch to {{ options.count_range_mode ? 'single' : 'range' }} mode"  
                            (click)="range_mode_change()">
                    <mat-icon>{{options.count_range_mode ? 'unfold_less' : 'unfold_more'}}</mat-icon>
                </button>
                <mat-label class="chord-count-icon-button-label mhh-mat-label">{{options.count_range_mode ? 'SINGLE' : 'RANGE'}}</mat-label>
            </div>

        </div>
    </div>
</div>

<!-- Action Buttons -->
<div class="ma2">
    <button mat-stroked-button color="darker" class="config-action-button" (click)="turn_on_all()" matTooltip="Turn on all selections">All The Feels</button>
    <button mat-stroked-button color="darker" (click)="set_defaults()" matTooltip="Set selections and sliders to defaults">Reset</button>
</div>
<!-- Chord Type Selection -->
<div class="ma2 chord-type-container" >
    <mat-label id="chord-type-label" class="mr2 mt2 mhh-mat-label">Chord Types</mat-label>
    <div class="chord-type-checkbox-container">
        <div id="Triads">
            <mat-checkbox [(ngModel)]="options.chordTypes['triad'].flag" (change)="ct_checkbox_change()" matTooltip="Allow Triads to be generated">Triads</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.25" [disabled]="!options.chordTypes['triad'].flag" discrete [displayWith]="mk_ct_slider_func('triad')"
                    matTooltip="Set the relative weighting for triads">
                <input matSliderThumb [(ngModel)]="options.chordTypes['triad'].weight">
            </mat-slider>
        </div>

        <div id="Sus2">
            <mat-checkbox [(ngModel)]="options.chordTypes['sus2'].flag"  (change)="ct_checkbox_change()" matTooltip="Allow sus2 chords to be generated">Sus2</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.25"  [disabled]="!options.chordTypes['sus2'].flag" discrete [displayWith]="mk_ct_slider_func('sus2')"
                    matTooltip="Set the relative weighting for sus2">
                <input matSliderThumb [(ngModel)]="options.chordTypes['sus2'].weight">
            </mat-slider>
        </div>

        <div id="Sus4">
            <mat-checkbox [(ngModel)]="options.chordTypes['sus4'].flag" (change)="ct_checkbox_change()" matTooltip="Allow sus4 chords to be generated">Sus4</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.25"  [disabled]="!options.chordTypes['sus4'].flag" discrete [displayWith]="mk_ct_slider_func('sus4')"
                    matTooltip="Set the relative weighting for sus4">
                <input matSliderThumb [(ngModel)]="options.chordTypes['sus4'].weight">
            </mat-slider>
        </div>

    </div>
</div> 

<!-- Extensions -->
<div class="ma2 chord-type-container" >
    <mat-label class="mr2 mt2 mhh-mat-label">Extensions</mat-label>
    <div class="chord-type-checkbox-container">        
        <div>
            <mat-checkbox [(ngModel)]="options.extensions['7th'].flag" matTooltip="Allow 7th chords to be generated">7ths</mat-checkbox>
            <br>
            <mat-slider min="20" max="80" step="5"  [disabled]="!options.extensions['7th'].flag" discrete [displayWith]="yesno_slider_ticks"
                            matTooltip="Set the relative weighting for 7ths">
                <input matSliderThumb [(ngModel)]="options.extensions['7th'].weight">
            </mat-slider>
        </div>        
        <div>
            <mat-checkbox [(ngModel)]="options.extensions['9th'].flag" matTooltip="Allow 9th chords to be generated">9ths</mat-checkbox>
            <br>
            <mat-slider min="20" max="80" step="5"  [disabled]="!options.extensions['9th'].flag" discrete [displayWith]="yesno_slider_ticks" 
                            matTooltip="Set the relative weighting for 9ths">
                <input matSliderThumb [(ngModel)]="options.extensions['9th'].weight">
            </mat-slider>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="options.extensions['11th'].flag" matTooltip="Allow 11th chords to be generated">11ths</mat-checkbox>
            <br>
            <mat-slider min="20" max="80" step="5"  [disabled]="!options.extensions['11th'].flag" discrete [displayWith]="yesno_slider_ticks"
                            matTooltip="Set the relative weighting for 11ths">
                <input matSliderThumb [(ngModel)]="options.extensions['11th'].weight">
            </mat-slider>
        </div>
    </div>
</div> 

<!-- Inversions -->
<div class="ma2 chord-type-container" >
    <mat-label class="mr2 mt2 mhh-mat-label">Inversions</mat-label>
    <div class="chord-type-checkbox-container">        
        <div>
            <mat-checkbox [(ngModel)]="options.inversions['root'].flag" matTooltip="Allow root inversions to be generated">Root</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.5"  [disabled]="!options.inversions['root'].flag" discrete [displayWith]="mk_inv_slider_func('root')"
                        matTooltip="Set the relative weighting for root inversions">
                <input matSliderThumb [(ngModel)]="options.inversions['root'].weight">
            </mat-slider>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="options.inversions['first'].flag" matTooltip="Allow first inversions to be generated">First Inv</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.5"  [disabled]="!options.inversions['first'].flag" discrete [displayWith]="mk_inv_slider_func('first')"
                    matTooltip="Set the relative weighting for first inversios">
                <input matSliderThumb [(ngModel)]="options.inversions['first'].weight">
            </mat-slider>
        </div>
        <div>
            <mat-checkbox [(ngModel)]="options.inversions['second'].flag" matTooltip="Allow second inversions to be generated">Second Inv</mat-checkbox>
            <br>
            <mat-slider min="1" max="5" step="0.5"  [disabled]="!options.inversions['second'].flag" discrete [displayWith]="mk_inv_slider_func('second')"
                        matTooltip="Set the relative weighting for second inversios">
                <input matSliderThumb [(ngModel)]="options.inversions['second'].weight">
            </mat-slider>
        </div>
    </div>
</div> 

<!-- Key Selection  (Diatonic only) -->
<div class="ma2" *ngIf="!scale_disabled">
    <label class="mhh-mat-label">Key</label>
    <mat-radio-group [value]="scaleData.source" (change)="scale_source_change($event)">
        <mat-radio-button value="Random" matTooltip="Let the computer choose the key">Random</mat-radio-button>
        <mat-radio-button value="Selected" matTooltip="You pick the key">Selected</mat-radio-button>
    </mat-radio-group>

    
    <div class="mt2 mh4 param-container" *ngIf="scaleData.source === 'Selected'">

        <!-- Sonority -->
        <mat-form-field>
            <mat-label>Tonality</mat-label>
            <mat-select [value]="scaleData.tonality" (selectionChange)="scale_sonority_change($event)">
                <mat-option value="major">Major</mat-option>
                <mat-option value="minor">Minor</mat-option>
                <mat-option value="mixolydian">Mixolydian</mat-option>
                <mat-option value="dorian">Dorian</mat-option>
                <mat-option value="lydian">Lydian</mat-option>
                <mat-option value="phrygian">Phrygian</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Key Center -->
        <mat-form-field>
            <mat-label>Key Center</mat-label>
            <mat-select [value]="scaleData.center" (selectionChange)="scale_center_change($event)">
                <mat-option value="Random">Random</mat-option>
                <mat-option value={{k}} 
                    *ngFor="let k of getKeyList()">
                        {{k}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div> 
