<mat-toolbar color="primary">
  <img height="70" width="71" src="assets/E-Minor.png">
    <a class="header-link ml3" routerLink="./">Random Chord Generator</a>
    <span class="flex-spacer"></span>
    <button mat-icon-button  (click)="openPreferenceDialog()" class="material-symbols-outlined" aria-label="open help for current page">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button  (click)="toggleDarkMode()" class="material-symbols-outlined" 
                matTooltip="{{ (darkMode ? 'switch to light mode' : 'switch to dark mode')}}" 
                aria-label="Switch theme between dark and light">
        <mat-icon *ngIf="darkMode">light_mode</mat-icon>
        <mat-icon *ngIf="!darkMode">dark_mode</mat-icon>
      </button>
      <button mat-icon-button  (click)="openHelpDialog()" class="material-symbols-outlined" aria-label="open help for current page">
        <mat-icon>help</mat-icon>
      </button>
</mat-toolbar>
<div class="mh3 mt4">
       <router-outlet></router-outlet>
</div>

