<mat-toolbar color="primary">
  <div class="header-container">
    <img class="header-logo" height="60" width="61" src="assets/E-Minor.png">
      <a class="header-name header-link" routerLink="./">{{header_text}}</a>
      <div class="header-buttons">
        <button mat-icon-button  (click)="openPreferenceDialog()" class="material-symbols-outlined" aria-label="open help for current page">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button  (click)="toggleDarkMode()" class="material-symbols-outlined" 
                    matTooltip="{{ (darkMode ? 'switch to light mode' : 'switch to dark mode')}}" 
                    aria-label="Switch theme between dark and light">
            <mat-icon *ngIf="darkMode">light_mode</mat-icon>
            <mat-icon *ngIf="!darkMode">dark_mode</mat-icon>
          </button>
          <button mat-icon-button  (click)="openHelpDialog()" class="material-symbols-outlined" aria-label="open help for current page">
            <mat-icon>help</mat-icon>
          </button>
        </div>
      </div>
</mat-toolbar>

<div class="mh3-ns mh1 mt4">
       <router-outlet></router-outlet>
</div>

