<h1 mat-dialog-title>Chord Edit</h1>
<div mat-dialog-content>
    <div>
    <mat-label class="mr2 mt2 mhh-mat-label">Inversion</mat-label>
        <mat-radio-group [(ngModel)]="chord.inversion">       
            <mat-radio-button value="root"  (click)="audition_chord()" matTooltip="Chord to root position">Root</mat-radio-button>
            <mat-radio-button value="first"  (click)="audition_chord()" matTooltip="Chord to first inversion">First Inv</mat-radio-button>
            <mat-radio-button value="second" (click)="audition_chord()" matTooltip="Chord to second inversion">Second Inv</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
        <mat-label class="mr2 mt2 mhh-mat-label">Extensions</mat-label>
        <div>        
            <mat-checkbox [(ngModel)]="seventh"  (click)="audition_chord()" matTooltip="Add 7th">7th</mat-checkbox>
            <mat-checkbox [(ngModel)]="ninth"    (click)="audition_chord()" matTooltip="Add 9th">9th</mat-checkbox>
            <mat-checkbox [(ngModel)]="eleventh" (click)="audition_chord()" matTooltip="Add 11th">11th</mat-checkbox>
        </div>
    </div>

    <div class="mt3">
        <button mat-raised-button (click)="play_chord()" color="primary" >{{chord.computeNameDisplay()}}</button>
    </div>
    <div>        
        <mat-checkbox [(ngModel)]="audition"  matTooltip="audition when changing">Audition on Change</mat-checkbox>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close><span class="material-symbols-outlined">cancel</span></button>
    <button mat-button [mat-dialog-close]="chord"><span class="material-symbols-outlined">check</span></button>
</div>